body{margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; overflow:hidden;}
form, h1, h2, h3, h4, h5, img{margin:0px; padding:0px; border:0px;}
html, body{margin:0px; padding:0px; width:100%; height:100%;}
.bluesky{

  width: 100%;
  height: 100%;
  background-image: url("../../images/level-2-assets/BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#stage{width:20000px; position:absolute; left:0px; bottom:0px; height:200px;  z-index:8;}
.mudroadtexture{ background-image:url(../../images/level-2-assets/Tile/2.png); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.bridgetexture{ background-image:url(../../images/bridge.gif); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.crocodial{ background-image:url(../../images/croco.gif); z-index:9; background-repeat:repeat; height:50%;   position:absolute; left:0px; bottom:0px;  width:200px; outline:0px;}

#box {background-repeat:no-repeat; width:63px; height:90px;  }
.waterwarn200{width:179px; height:4px; position:absolute; left:9px; bottom:-14px; }
.grasstree{position:absolute; z-index:6; left:0px; bottom:0px; height:80px; width:20000px;}
.grass{height:132px; position:absolute; left:0px; bottom:-66px; background-image:url(../../images/level-2-assets/Objects/grass-1.png); background-repeat:repeat-x;   width:100%; z-index:6;}
.train{height:132px; position:absolute; left:0px; bottom:-66px; background-image:url(../../images/enm_stage1/train.gif);width:100%; z-index:6;}


.maintree{position:absolute; z-index:7; left:0px; bottom:0px; height:80px; width:20000px;}
.tree1{position:absolute; left:755px; bottom:-85px; width:186px; height:193px; background-repeat:no-repeat; background-image:url(../../images/level-2-assets/Objects/bush-1.png);}
.tree2{position:absolute; left:755px; bottom:-110px; width:186px; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-2-assets/Objects/bush-2.png);}
.tree3{position:absolute; left:855px; bottom:0px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-2-assets/Objects/Tree.png);}
.stone1{position:absolute; left:1055px; bottom:-120px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-2-assets/Objects/Stone.png);}
.right-arrow{position:absolute; left:1555px; bottom:-100px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-2-assets/Objects/SignArrow.png);}
.seenlayer{height:300px; position:absolute; left:0px; bottom:0px; width:40000px; z-index:1; }
.kutubminar{width:591px; height:300px; background-image:url(../../images/level-2-assets/Objects/pyramid.png); left:1100px; position:absolute; bottom:80px;}
.palace{width:591px; height:300px; background-image:url(../../images/level-2-assets/Objects/pyramid.png); left:2200px; position:absolute; bottom:80px;}

.kutubminar2{width:591px; height:300px; background-image:url(../../images/level-2-assets/Objects/pyramid.png); left:3100px; position:absolute; bottom:80px;}
.palace2{width:591px; height:300px; background-image:url(../../images/level-2-assets/Objects/pyramid.png); left:4100px; position:absolute; bottom:80px;}

.enmybox{position:absolute; z-index:80; left:0px; bottom:0px; height:300px; width:20000px;  }

.score-objects{position:absolute; z-index:80; left:0px; bottom:0px; height:300px; width:20000px;  }

.tort{position:absolute; left:6000px; width:100px; top:130px; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';  }

