@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "game-menu.css";

@custom-media --motionOK (prefers-reduced-motion: no-preference);
@custom-media --dark (prefers-color-scheme: dark);
@custom-media --HDcolor (dynamic-range: high);

* {
  box-sizing: border-box;
  margin: 0;
}

.glasseffect{

  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);

}

.glasseffectForTable{

  background: rgba(4, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);

}

.effectForTextBoxes{

  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-family: Audiowide !important;
  
}

.effectForButtonRed{

  background: rgba(250, 8, 8, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(37, 7, 7, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-family: Audiowide !important;
  color:white !important;
  font-size:22px; 
  font-weight:600;
  border: 2px solid black;
  
}


.effectForButtonRed:hover{

  background-color:red;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(37, 7, 7, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-family: Audiowide !important;
  color:white !important;
  font-size:22px; 
  font-weight:600;
  border: 2px solid black;
  
}

.effectForButtonBlue{

  background: rgba(46, 6, 221, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(37, 7, 7, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-family: Audiowide !important;
  color:white !important;
  font-size:22px; 
  font-weight:600;
  border: 2px solid black;
  
}

.effectForButtonBlue:hover{

  background-color:blue;
  font-family: Audiowide !important;
  border: 2px solid black;
  
  
}

.effectForButtonGreen{

  background: rgba(6, 249, 6, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-family: Audiowide !important;
  color:white !important;
  font-size:22px; 
  font-weight:600;
  border: 2px solid black;
  
}

.effectForButtonGreen:hover{
  background-color:green;
  font-family: Audiowide !important;
  border: 2px solid black;
  
}



.effectForTextBoxes:focus{

  background: rgba(255, 255, 255, 0.50);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-weight: 600;
}

.effectForTextBoxes:disabled {
   background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  font-weight: 600;
}


html {
  block-size: 100%;
  background: conic-gradient(at -10% 50%, deeppink, cyan);

  @media (--dark) {
    background: conic-gradient(at -10% 50%, #212529, 50%, #495057, #212529);    
  }
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  
  display: grid;
  place-content: center;
}

.github-corner {
  fill: indigo;
  color: white; 
  
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@keyframes octocat-wave{
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}