body{margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; overflow:hidden;}
form, h1, h2, h3, h4, h5, img{margin:0px; padding:0px; border:0px;}
html, body{margin:0px; padding:0px; width:100%; height:100%;}
.bluesky{

  width: 100%;
  height: 100%;
  background-image: url("../../images/level-5-assets/BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#stage{width:20000px; position:absolute; left:0px; bottom:0px; height:200px;  z-index:8;}
.mudroadtexture1{ background-image:url(../../images/level-6-assets/Tiles/tile-1.png); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.mudroadtexture2{ background-image:url(../../images/level-6-assets/Tiles/tile-2.png); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.mudroadtexture3{ background-image:url(../../images/level-6-assets/Tiles/tile-3.png); background-repeat:repeat; height:50%; z-index:10; position:absolute; left:0px; bottom:0px;  width:2000px; outline:0px;}
.acidWhole{ background-image:url(../../images/level-6-assets/Tiles/acid-1.png); z-index:9; background-repeat:repeat; height:50%;   position:absolute; left:0px; bottom:0px;  width:200px; outline:0px;}
#box {background-repeat:no-repeat; width:63px; height:90px;  }
.waterwarn200{width:179px; height:4px; position:absolute; left:9px; bottom:-14px; }


.maintree{position:absolute; z-index:7; left:0px; bottom:0px; height:80px; width:20000px;}
.tree1{position:absolute; left:955px; bottom:-137px; width:386px; height:393px; background-repeat:no-repeat; background-image:url(../../images/level-5-assets/Objects/Tree.png);}
.tree2{position:absolute; left:655px; bottom:-100px; width:386px; height:393px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/DeadBush.png);}
.bush1{position:absolute; left:2855px; bottom:-290px; width:100%; height:393px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/bush-1.png);}
.bush2{position:absolute; left:1855px; bottom:-315px; width:100%; height:393px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/bush-2.png);}
.stone1{position:absolute; left:1055px; bottom:-125px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/stone-1.png);}
.stone2{position:absolute; left:2055px; bottom:-100px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/stone-2.png);}
.deadbush{position:absolute; left:1355px; bottom:-100px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/DeadBush.png);}
.skeleton{position:absolute; left:1455px; bottom:-128px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/Skeleton.png);}

.right-arrow{position:absolute; left:1555px; bottom:-85px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/ArrowSign.png);}
.right-arrow2{position:absolute; left:1000px; bottom:-85px; width:100%; height:193px; background-repeat:no-repeat;  background-image:url(../../images/level-5-assets/Objects/Sign.png);}
.seenlayer{height:300px; position:absolute; left:0px; bottom:0px; width:40000px; z-index:1; }
.kutubminar{width:591px; height:500px; background-repeat:no-repeat; background-image:url(../../images/level-5-assets/Objects/g-home.png); left:1100px; position:absolute; bottom:-40px;}
.palace{width:591px; height:500px; background-repeat:no-repeat; background-image:url(../../images/level-5-assets/Objects/g-home.png); left:2200px; position:absolute; bottom:-40px;}

.kutubminar2{width:591px; background-repeat:no-repeat; background-repeat:no-repeat; height:500px; background-image:url(../../images/level-5-assets/Objects/g-home.png); left:3100px; position:absolute; bottom:-40px;}
.palace2{width:591px; background-repeat:no-repeat; height:500px; background-image:url(../../images/level-5-assets/Objects/g-home.png); left:4100px; position:absolute; bottom:-40px;}

.enmybox{position:absolute; z-index:80; left:0px; bottom:0px; height:300px; width:20000px;  }

.score-objects{position:absolute; z-index:80; left:0px; bottom:0px; height:300px; width:20000px;  }

.tort{position:absolute; left:6000px; width:100px; top:130px; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';  }

