#level-1-cover-box{

    width:100%;
    height: 100%;
    position:fixed;
    width:100%;
    left:0px;
    top:0px;
    z-index:99999999;
    background-image: url('../../images/ui-assets/stage-1-cover.jpg');
    background-size: cover;
}

#level-1-cover-box > img{

    position:relative;
    left: 32%;
    bottom:-20%;
}


